log.txt
stats.txt
id.bin
key.bin
hc_bot.txt
hc_bot.txt
config.json
/screenshots/
/simple_protector.exe
/log.txt
/stats.txt
*_stats.txt
*_log.txt
/bluestacks_start_test.cmd
/config_test.txt
/nox_screen — копия.cmd
/nox_start_test.cmd
/starter/
