log.txt
stats.txt
id.bin
key.bin
hc_bot.txt
hc_bot.txt
config.json
/screenshots/
/simple_protector.exe
/log.txt
/stats.txt
*_stats.txt
*_log.txt
/bluestacks_start_test.cmd
/config_test.txt
/nox_screen — копия.cmd
/nox_start_test.cmd
/starter/
/starters/
/bot_info.txt
/NoxPlayer1_netlog.txt
/NoxPlayer_netlog.txt
/bin/authcache.bin
/Bluestacks_netlog.txt
/set_token.cmd
*.blacklist
/config_editor.txt
/editor.cfg
/bin/timeleft.txt
/bin/config_editor.txt
